.counterComponent{
  background-color: bisque;
  text-align: center;
  margin: 10px auto;
  width: 50%;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
}
.counterComponent button{
  margin: 5px;
}